
<div class="header">
  <p class="logo">Box factory</p>
</div>

<div class="actions">
  <div class="fields">

    <div class="search-box">
    </div>
    <div class="sort">
    </div>

  </div>
  <div class="button">
    <div class="add-button" (click)="showCreate()">
      Add new box
    </div>
  </div>
</div>

<div class="cats">
  <div class="catt" style="background-color: #141e46; color: #F2F2F2;">Sales</div>
  <div class="catt">New</div>
  <div class="catt">Old
  </div>
  <div class="catt">a</div>

</div>

<div class="boxes">

</div>

<div class="pop-up-create" *ngIf="createToken">
  <app-create-pop-up></app-create-pop-up>
</div>

<div class="pop-up-edit" *ngIf="editToken">
  <app-edit-pip-up
  ></app-edit-pip-up>
</div>

<div class="pop-up-del" *ngIf="delToken">
  <app-del-pip-up
  ></app-del-pip-up>
</div>

