.box {
  width: 249px;
  height: 148px;
  border-radius: 19px;
  border: 3px solid #141e46;
  background: #fff5e0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  gap: 15%;
}

.name {
  width: 249px;
  height: 43px;
  border-radius: 15px 15px 0px 0px;
  background: #141e46;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90%;
  margin-left: -30%;
}

.edit,
.remove {

  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #ff6969;
}

.remove{
  background-color: #C70039;
}

.pop-up-del, .pop-up-edit{
  margin-top: -65%;
  padding-top: 40%;
  margin-left: -7%;
  position: absolute;
  width: 110%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
